.ActiveQuiz {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgb(0, 202, 216);
}

.Question {
  display: flex;
  justify-content: space-between;
}
