.Layout{
height: 100vh; /* забираем всю высоту экрана. которая доступна 100% */
display: flex;
flex-direction: column;
}


.Layout main{
display: flex;
flex-direction: column;
flex-grow:1; /* что бы тэг мэйн забирал всю доступную ему высоту */
}