.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #fd008b 30%, #a200ff 70%);
}

.Auth > div {
  width: 100%;
  max-width: 602px;
  padding: 0 20px;
}

.Auth h1 {
  color: #fff;
  text-align: center;
}

.AuthForm {
  background: rgb(238, 238, 238);
  box-shadow: 3px 3px 7px rgb(0, 255, 234);
  padding: 5px;
  border: 5px;
  padding: 10px;
  border-radius: 5px;
}
